@using FitDontQuit.Common
@model FitDontQuit.Web.ViewModels.Classes.ClassesIndexViewModel
@{
    this.ViewData["Title"] = "Classes";
}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb/classes-breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Classes</h2>
                    <div class="breadcrumb-option">
                        <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                        <span>Class</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Classes Section Begin -->
<section class="classes-section classes-page spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>UNLIMITED CLASSES</h2>
                </div>
            </div>
        </div>
        @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName) || this.User.IsInRole(GlobalConstants.ModeratorRoleName))
        {
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <a asp-controller="GroupTrainings" asp-action="Create"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
            </div>
        }
        <div class="row">
            @foreach (var groupTraining in Model.GroupTrainings)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="single-class-item set-bg" data-setbg="@groupTraining.ImageUrl">
                        <div>
                            >
                            @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName) || this.User.IsInRole(GlobalConstants.ModeratorRoleName))
                            {
                                <a asp-controller="GroupTrainings" asp-action="Edit" asp-route-id="@groupTraining.Id"><i class="fa fa-edit"></i></a>
                                <a asp-controller="GroupTrainings" asp-action="Delete" asp-route-id="@groupTraining.Id"><i class="fa fa-remove"></i></a>
                            }
                        </div>
                        <div class="si-text">
                            <a asp-controller="GroupTrainings" asp-action="Details" asp-route-id="@groupTraining.Id"><h4>@groupTraining.Name</h4></a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- Classes Section End -->
<!-- Classes Timetable Section Begin -->
<section class="classes-timetable spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Class Timetable</h2>
                </div>
                <div class="nav-controls">
                    <ul>
                        <li class="active" data-tsfilter="all">All Class</li>
                        @foreach (var gp in Model.GroupTrainings)
                        {
                            <li data-tsfilter="@gp.Name">@gp.Name</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="schedule-table">
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Monday</th>
                                <th>Tuesday</th>
                                <th>Wednesday</th>
                                <th>Thursday</th>
                                <th>Friday</th>
                                <th>Saturday</th>
                                <th>Sunday</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="workout-time">10.00</td>
                                <td class="hover-bg ts-item" data-tsmeta="gym">
                                    <h6>Gym</h6>
                                    <span>10.00 - 11.00</span>
                                    <div class="trainer-name">
                                        John Smith
                                    </div>
                                    <span>Hall: Yoga</span><br />
                                    <span>Free space: 20</span>
                                </td>
                                <td></td>
                                <td class="hover-bg ts-item" data-tsmeta="yoga">
                                    <h6>Yoga</h6>
                                    <span>10.00 - 12.00</span>
                                    <div class="trainer-name">
                                        John Smith
                                    </div>
                                </td>
                                <td></td>
                                <td class="hover-bg ts-item" data-tsmeta="body">
                                    <h6>Body</h6>
                                    <span>10.00 - 12.00</span>
                                    <div class="trainer-name">
                                        John Smith
                                    </div>
                                </td>
                                <td></td>
                                <td class="hover-bg ts-item" data-tsmeta="cardio">
                                    <h6>Cardio</h6>
                                    <span>10.00 - 11.00</span>
                                    <div class="trainer-name">
                                        John Smith
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="workout-time">14.00</td>
                                <td></td>
                                <td class="hover-bg ts-item">
                                    <h6>Running</h6>
                                    <span>14.00 - 16.00</span>
                                    <div class="trainer-name">
                                        John Smith
                                    </div>
                                </td>
                                <td></td>
                                <td class="hover-bg ts-item">
                                    <h6>Box</h6>
                                    <span>14.00 - 15.00</span>
                                    <div class="trainer-name">
                                        John Smith
                                    </div>
                                </td>
                                <td></td>
                                <td class="hover-bg ts-item" data-tsmeta="gym">
                                    <h6>Gym</h6>
                                    <span>14.00 - 16.00</span>
                                    <div class="trainer-name">
                                        John Smith
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="workout-time">16.00</td>
                                <td class="hover-bg ts-item" data-tsmeta="cardio">
                                    <h6>Cardio</h6>
                                    <span>16.00 - 18.00</span>
                                    <div class="trainer-name">
                                        John Smith
                                    </div>
                                </td>
                                <td></td>
                                <td class="hover-bg ts-item" data-tsmeta="gym">
                                    <h6>Gym</h6>
                                    <span>16.00 - 19.00</span>
                                    <div class="trainer-name">
                                        John Smith
                                    </div>
                                </td>
                                <td></td>
                                <td class="hover-bg ts-item" data-tsmeta="yoga">
                                    <h6>Yoga</h6>
                                    <span>16.00 - 18.00</span>
                                    <div class="trainer-name">
                                        John Smith
                                    </div>
                                </td>
                                <td></td>
                                <td class="hover-bg ts-item" data-tsmeta="gym">
                                    <h6>Gym</h6>
                                    <span>16.00 - 20.00</span>
                                    <div class="trainer-name">
                                        John Smith
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="workout-time">18.00</td>
                                <td class="hover-bg ts-item">
                                    <h6>Box</h6>
                                    <span>18.00 - 22.00</span>
                                    <div class="trainer-name">
                                        John Smith
                                    </div>
                                </td>
                                <td class="hover-bg ts-item" data-tsmeta="body">
                                    <h6>Body</h6>
                                    <span>18.00 - 20.00</span>
                                    <div class="trainer-name">
                                        John Smith
                                    </div>
                                </td>
                                <td></td>
                                <td class="hover-bg ts-item" data-tsmeta="crossfit">
                                    <h6>Crossfit</h6>
                                    <span>18.00 - 21.00</span>
                                    <div class="trainer-name">
                                        John Smith
                                    </div>
                                </td>
                                <td></td>
                                <td class="hover-bg ts-item" data-tsmeta="cardio">
                                    <h6>Cardio</h6>
                                    <span>18.00 - 22.00</span>
                                    <div class="trainer-name">
                                        John Smith
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="workout-time">20.00</td>
                                <td></td>
                                <td class="hover-bg ts-item" data-tsmeta="gym">
                                    <h6>Gym</h6>
                                    <span>20.00 - 12.00</span>
                                    <div class="trainer-name">
                                        John Smith
                                    </div>
                                </td>
                                <td class="hover-bg ts-item" data-tsmeta="body">
                                    <h6>Body</h6>
                                    <span>20.00 - 21.00</span>
                                    <div class="trainer-name">
                                        John Smith
                                    </div>
                                </td>
                                <td></td>
                                <td class="hover-bg ts-item" data-tsmeta="cardio">
                                    <h6>Cardio</h6>
                                    <span>20.00 - 22.00</span>
                                    <div class="trainer-name">
                                        John Smith
                                    </div>
                                </td>
                                <td></td>
                                <td class="hover-bg ts-item" data-tsmeta="crossfit">
                                    <h6>Crossfit</h6>
                                    <span>20.00 - 21.00</span>
                                    <div class="trainer-name">
                                        John Smith
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Trainer Table Schedule Section End -->
<!-- Footer Banner Section Begin -->
<section class="footer-banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="footer-banner-item set-bg" data-setbg="img/footer-banner/footer-banner-1.jpg">
                    <span>New member</span>
                    <h2>7 days for free</h2>
                    <p>Complete the training sessions with us, surely you will be happy</p>
                    <a href="#" class="primary-btn">Get Started</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="footer-banner-item set-bg" data-setbg="img/footer-banner/footer-banner-2.jpg">
                    <span>contact us</span>
                    <h2>09 746 204</h2>
                    <p>If you trust us on your journey they dark sex does not disappoint you!</p>
                    <a href="#" class="primary-btn">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer Banner Section End -->
