@using static FitDontQuit.Common.EnumHelper
@model IEnumerable<FitDontQuit.Web.ViewModels.Administration.Memberships.MembershipViewModel>
@{int counter = 1; }
@{
    this.ViewData["Title"] = "All memberships";
}

<h1>@this.ViewData["Title"]</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Duration</th>
            <th scope="col">Created on</th>
            <th scope="col">Modified on</th>
            <th scope="col">Edit/Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var membership in Model)
        {
            <tr>
                <th scope="row">@counter</th>
                <td>@membership.Name</td>
                <td>@membership.Price</td>
                <td>@membership.Duration.GetDisplayName()</td>
                <td>@membership.CreatedOn.ToLocalTime()</td>
                @if (membership.ModifiedOn < membership.CreatedOn)
                {
                    <td>-</td>
                }
                else
                {
                    <td>@membership.ModifiedOn.ToLocalTime()</td>
                }
                <td><a asp-area="Administration" asp-controller="Memberships" asp-action="Edit" asp-route-id="@membership.Id"><img src="~/icons/edit.png" /></a> / <a asp-area="Administration" asp-controller="Memberships" asp-action="Delete" asp-route-id="@membership.Id"><img src="~/icons/rubbish.png" /></a></td>
            </tr>

            counter++;
        }
    </tbody>
</table>

<a class="btn btn-dark" asp-area="Administration" asp-controller="Memberships" asp-action="Create">Create membership</a>
<a class="btn btn-dark" asp-area="Administration" asp-controller="Dashboard" asp-action="Index">Back to dashboard</a>
