@using FitDontQuit.Common
@model FitDontQuit.Web.ViewModels.Articles.ArticleDetailsViewModel
@{
    this.ViewData["Title"] = "Article detail";
}
<!-- Blog Details Hero Section Begin -->
<section class="blog-details-hero set-bg" data-setbg="@Model.ImageUrl">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="bd-hero-text">
                    @*<span>CAMERA</span>*@
                    <h2>@Model.Title</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Details Hero Section End -->
<!-- Blog Details Section Begin -->
<section class="blog-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <h4>
                    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName) || this.User.IsInRole(GlobalConstants.ModeratorRoleName))
                    {
                        <a asp-controller="Articles" asp-action="Edit" asp-route-id="@Model.Id"><i class="fa fa-edit fa-lg"></i></a>
                        <a asp-controller="Articles" asp-action="Delete" asp-route-id="@Model.Id"><i class="fa fa-remove fa-lg"></i></a>
                    }
                </h4>
                <br/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="bd-text">
                    <div class="bd-more-text">
                        <div class="bm-item">
                            <p>
                                @Html.Raw(Model.SanitizedContent)
                            </p>
                        </div>
                    </div>
                    <hr />
                    <div class="mb-3">
                        <label>From:</label><small> @Model.CreatedOn</small>
                    </div>
                    <div class="tag-share">
                        <div class="tags">
                            <a href="#">Camera</a>
                            <a href="#">Photography</a>
                            <a href="#">Tips</a>
                        </div>
                        <div class="social-share">
                            <span>Share:</span>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                    <div class="blog-author">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ba-text">
                                    <h5>@Model.User.FirstName @Model.User.LastName</h5>
                                    <small>@Model.User.UserName</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Details Section End -->
<vc:latest-three-articles></vc:latest-three-articles>