@using FitDontQuit.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Gutim Template">
    <meta name="keywords" content="Gutim, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="57x57" href="~/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap"
          rel="stylesheet">

    <environment names="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/boоtstrap.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/font-awesome.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/magnific-popup.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/owl.carousel.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/slicknav.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/style.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/boоtstrap.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/font-awesome.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/magnific-popup.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/owl.carousel.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/slicknav.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/style.css" rel="stylesheet" asp-append-version="true" />
    </environment>
</head>
<body>
    <!-- Page Preloder-->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <header class="header-section">
        <div class="container">
            <div class="logo">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/banner-icon.png" alt="">
                </a>
                <a class="test" asp-area="" asp-controller="Home" asp-action="Index">FIT DON'T QUIT</a>
            </div>
            <div class="nav-menu">
                <nav class="mainmenu mobile-menu">
                    <ul>                        
                        <li class="active"><a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-area="" asp-controller="Settings" asp-action="Index">Settings</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                        <partial name="_LoginPartial" />
                    </ul>
                    <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>-->
                </nav>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>

    <div class="container">
        <partial name="_CookieConsentPartial" />
    </div>
    <main role="main">
        @this.RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - @GlobalConstants.SystemName - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <environment names="Development">
        <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
        <script src="~/js/jquery-3.3.1.min.js" asp-append-version="true"></script>
        <script src="~/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/js/jquery.magnific-popup.min.js" asp-append-version="true"></script>
        <script src="~/js/masonry.pkgd.min.js" asp-append-version="true"></script>
        <script src="~/js/mixitup.min.js" asp-append-version="true"></script>
        <script src="~/js/jquery.slicknav.js" asp-append-version="true"></script>
        <script src="~/js/owl.carousel.min.js" asp-append-version="true"></script>
        <script src="~/js/main.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/js/jquery-3.3.1.min.js" asp-append-version="true"></script>
        <script src="~/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/js/jquery.magnific-popup.min.js" asp-append-version="true"></script>
        <script src="~/js/masonry.pkgd.min.js" asp-append-version="true"></script>
        <script src="~/js/mixitup.min.js" asp-append-version="true"></script>
        <script src="~/js/jquery.slicknav.js" asp-append-version="true"></script>
        <script src="~/js/owl.carousel.min.js" asp-append-version="true"></script>
        <script src="~/js/main.js" asp-append-version="true"></script>
    </environment>

    @this.RenderSection("Scripts", required: false)
</body>
</html>
