@model IEnumerable<FitDontQuit.Web.ViewModels.Articles.HomeArticleViewModel>

<!-- Blog Section Begin -->
<section class="blog-section spad">
    <div class="container">
        <div class="row">
            @foreach (var article in Model)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-item">
                        <img src="@article.ImageUrl" alt="">
                        <div class="blog-widget">
                            <div class="bw-date">@article.CreatedOn</div>
                            <div class="bw-date">@article.User.UserName</div>
                            <a href="#" class="tag">#Gym</a>
                        </div>
                        <h4>
                            <a asp-controller="Articles" asp-action="Details" asp-route-id="@article.Id">@article.Title</a>
                        </h4>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- Blog Section End -->