@using FitDontQuit.Common;
@model FitDontQuit.Web.ViewModels.Trainers.AllTrainersViewModel

<!-- Trainer Section Begin -->
<section class="trainer-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>EXPERT TRAINERS</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var trainer in Model.Trainers)
            {
                <div class="col-lg-4 col-md-6 mb-5 m">
                    <div class="single-trainer-item">
                        <img src="@trainer.ImageUrl" alt="TrainerImage">
                        <div class="trainer-text">
                            <h5>
                                @trainer.FirstName @trainer.LastName
                                @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName) || this.User.IsInRole(GlobalConstants.ModeratorRoleName))
                                {
                                    <a asp-controller="Trainers" asp-action="Edit" asp-route-id="@trainer.Id"><i class="fa fa-edit"></i></a>
                                    <i class="fa fa-remove"></i>
                                }
                            </h5>
                            <span>@trainer.ProfessionName</span><br /><br />
                            <small>@trainer.Age age</small>
                            <p>@trainer.Description</p>
                            <div class="trainer-social">
                                <a href="@trainer.InstagramUrl"><i class="fa fa-instagram"></i></a>
                                <i class="fa fa-phone"> @trainer.PhoneNumber</i>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- Trainer Section End -->